@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Righteous;
}

body {
    background-color: #051D39;
}