.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 0.6fr 1.9fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header"
      "logos-container logos-container"
      "footer footer"; 
    width: 100%; 
}

.header {
    grid-area: header;
}

.logosContainer {
    grid-area: logos-container;
}

.footer {
    grid-area: footer;
}