.statusMsg{
    color: #fff;
    text-align: center;
    margin: 0 0 2rem 0;
}
.choiseStatusContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.currentSelection{
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #fff;
    padding: 1.5rem;
    border: 15px solid red;
    border-radius: 50%;
    box-shadow: 0 0 25px inset rgba(78, 78, 78, 0.9);
}
.currentSelection:nth-child(2){
    border-color: cornflowerblue;
}

.currentSelection img{
    width: 4rem;
    height: 4rem;
}

@media only screen and (max-width: 768px){
    .currentSelection img{
        width: 2rem;
        height: 2rem;
    }
    .currentSelection{
        border-width: 10px;
    }
}

@media only screen and (max-width: 568px){
    .statusMsg{
        font-size: 2rem;
        margin: 0;
    }
    .currentSelection{
        margin: 0 1rem;
    }
    .choiseStatusContainer{
        margin-top: 1rem;
    }
}