@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Righteous;
    overflow: auto;
}

body {
    background-color: #051D39;
}

.container {
    display: grid;  
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 0px 0px; 
    grid-template-areas: 
      "header header"
      "logos-container logos-container"
      "footer footer"; 
    width: 100%; 
}

.header {
    grid-area: header;
}

.logosContainer {
    grid-area: logos-container;
}

.footer {
    grid-area: footer;
}